.projects-list-header {
  margin-top: 35px;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-between;
}

.projects-list-header__title {
  margin-bottom: 0;
}
