.project-item__icon g,
.project-item__icon:hover g {
  transition: fill 0.3s;
  opacity: 0.85;
}

.project-item__icon:hover g {
  fill: black;
}

.project-item__icon:active g {
  opacity: 0.7;
}

/* because standart bootstrap selector */
.project-item .projet-item__watch-icon {
  margin-left: 0;
}

.projet-item__github-icon {
  margin-right: 10px;
}

.project-item__card-wrapper {
  padding: 20px;
}

.project-item__links-wrapper {
  display: flex;
}

.project-item__link {
  width: 32px;
  height: 32px;
}
