html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: 'Oxanium', 'Comic Sans', cursive;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
